/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");

/*-------------------
 Universal property
 ---------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}

/* ----------------------
Header and Navbar Style
-------------------------*/
header {
    width: 100%;
    height: 650px;
    background-color: #2d25a0;
    padding: 42px 135px;
}
.nav-items {
    /* padding: 42px 135px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
    padding-right: 36px;
    font-weight: 500;
    font-size: 16px;
}
.nav-login-button a {
    background-color: #e02c6d;
    padding: 10px 25px;
}
.nav-login-button .fa-sign-in-alt {
    padding-right: 8px;
}

/* -------------------
Navbar End 
----------------------*/

/*------------------ 
Landing Banner Style 
---------------------*/
.landing-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
.banner-details {
    align-items: center;
}
.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: white;
    padding: 20px 0;
}
.half-width {
    flex: 1;
}
.landing-banner-img img {
    width: 556.01px;
    height: 438px;
}
.watch-button a {
    background-color: #e02c6d;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
}
.watch-button .arrow-icon {
    padding-left: 10px;
}

/*-------------------
 Landing Banner End 
 ---------------------*/

/* -------------------
Player Section
---------------------- */
main {
    background-color: #f2f2f2;
}
.footballers-info {
    padding: 70px 195px;
}
.football-players {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    row-gap: 27px;
}
.player {
    width: 330px;
    height: 474px;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-right: 30px;
}
.player img {
    width: 300px;
    height: 256px;
}
.player-name {
    font-size: 28px;
    font-weight: 700;
    color: #18191f;
}
.player-bio {
    font-size: 16;
    font-weight: 400;
    color: #6c6c6c;
}

/*-------------------
Player Section End
-------------------- */

/* -------------------
Newa Highlights Style
 ----------------------*/

.news-highlights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 170px;
}
.news-item {
    align-items: center;
    width: 469px;
    height: 309px;
}
.news-title {
    font-size: 48px;
    color: #0a0826;
}
.news-para {
    font-size: 16px;
    color: #6c6c6c;
}
.watch-button {
    margin-top: 24px;
}
.news-cover-img img {
    width: 567px;
    height: 427px;
    padding-left: 50px;
}

/* Footer Style */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.social-media-icons{
    display: flex;
    justify-content: space-evenly;
}
.icon .fab{
    color: #969BAB;
    font-size: 25px;
    padding: 10px;
}
.footer-logo img {
    width: 262px;
    height: 110px;
}
.copy-right{
    font-size: 18px;
    padding: 10px;
}
